.navbar-brand {
    img {
        width:250px;
    }
}

#navbarContent {
    font-weight: bold;
    font-size:1.1rem;
}

#navSearch {
    background-color: white;
    border:1px solid black;

    &:hover {
        background-color:#82b864;
        color:black;
    }
}