@font-face {
  font-family: 'Graphik';
  src: url('../assets/fonts/GraphikCompact-Black-Trial.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

html, body, #root {
  font-family: 'Graphik', sans-serif;
  margin: 0;
  padding: 0;
}