.homeContainer {
    margin-top:100px;
    margin-left:30px;
    margin-right:30px;

    h1 {
        color:#384050;
    }

    h3 {
        color:#00497c;
        text-transform:uppercase;
    }

    h4 {
        font-weight:bold;
        color:#82b864;
    }

    h5 {
        text-transform:uppercase;
        font-weight:bold;
        padding-top:15px;
        padding-bottom:5px;
    }
    
    p {
        font-style: italic;
    }
}

#box-home {
    background-color: white;
}

#errorContainer {
    margin-top:150px;
}

#btn {
    background-color: white;
    border:1px solid #82b864;
    color:#82b864;

    &:hover {
        background-color:#82b864;
        color:black;
    }
}

#box-info {
    h1 {
        text-transform:uppercase;
    }

    p a {
        color:#82b864;
    }
}

#btn-submit {
    background-color: white;
    border:1px solid #cd2c2e;
    color:#cd2c2e;

    &:hover {
        background-color:#cd2c2e;
        color:white;
    }
}